body {
    background-color: rgb(253, 251, 251);
    padding: 3%;
    margin-top: 5%;
}

header {
    top: 0;
    position:fixed;
}

nav {
    top: 50px;
    left: -8px;
}

#minha_foto {
    border: 2px solid black;
    width: 300px;
}

table {
    border: 1px solid black;
}